.btn1 {
    width: 80px;
    transform: scale(0.25);
    cursor: pointer;
  }
  .btn2 {
    width: 10px;
    transform: scale(0.25);
    cursor: pointer;
  }
  
  .span1 {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 8px;
    background: #3B4554;
    transition: all 0.3s;
    position: relative;
  }
  
  
  .span1 + .span1 {
    margin-top: 12px;
  }
    .span1 {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 8px;
    background: #3B4554;
    transition: all 0.3s;
    position: relative;
  }
  
  .span1 + .span1 {
    margin-top: 12px;
  }
  
  .active .span1:nth-child(1) {
    animation: ease 0.4s top forwards;
  }
  
  .notActive .span1:nth-child(1) {
    animation: ease 0.4s top-2 forwards;
  }
  
  .active .span1:nth-child(2) {
    animation: ease 0.4s scaled forwards;
  }
  
  .notActive .span1:nth-child(2) {
    animation: ease 0.4s scaled-2 forwards;
  }
  
  .active .span1:nth-child(3) {
    animation: ease 0.4s bottom forwards;
  }
  
  .notActive .span1:nth-child(3) {
    animation: ease 0.4s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  